:root {

    /* colors */

    /* primaries */
    --red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* gradients */
    --lt-slate-blue: hsl(252, 100%, 67%);
    --lt-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* neutrals */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --lt-lavender: hsl(241, 100%, 89%);
    --dk-gray-blue: hsl(224, 30%, 27%);

    /* components */

    /* card gradients */
    --clr-bg-results-top: var(--lt-slate-blue);
    --clr-bg-results-bot: var(--lt-royal-blue);

    --clr-results-score-top: var(--violet-blue);
    --clr-results-score-bot: var(--persian-blue);

    --clr-results-text: var(--lt-lavender);
    --clr-summary-text: var(--dk-gray-blue);

    --clr-text-accent: var(--white);
    --clr-button: var(--persian-blue);

    /* fonts */

    /* font-size */
    --fs-400: 1.1rem;
    --fs-500: 1.438rem;
    --fs-600: 1.875rem;
    --fs-800: 4.5rem;

    /* font-weight */
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-ex-bold: 800;

}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* general styling */

body {
    background: teal;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-medium);

    display: grid;
    place-content: center;
}

.card__container {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 23rem;
    padding: 2.3rem 4rem 3.5rem;
    text-align: center;
}

.card--results {
    background: linear-gradient(var(--clr-bg-results-top), var(--clr-bg-results-bot));
    color: var(--clr-results-text);
}

.card--summary {
    background-color: white;
    color: var(--clr-summary-text);
}

.card__title {
    font-size: var(--fs-500);
    margin-bottom: 2.05rem;
}

.card__score-container {
    background: linear-gradient(var(--clr-results-score-top), var(--clr-bg-results-bot));
    border-radius: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 1.75rem;
    padding: 3rem;
    text-align: center;
    line-height: 1.15;
}

.card__score--results {
    color: var(--clr-text-accent);
    font-size: var(--fs-800);
    font-weight: var(--fw-ex-bold);
}

.card__subtitle {
    color: var(--clr-text-accent);
    font-size: var(--fs-600);
    margin-bottom: 0.75rem;
}

.card__copy {
    line-height: 1.3;
}