:root {

    /* colors */

    /* primaries */
    --clr-red: hsl(0, 100%, 67%);
    --clr-orange-yellow: hsl(39, 100%, 56%);
    --clr-green-teal: hsl(166, 100%, 37%);
    --clr-cobalt-blue: hsl(234, 85%, 45%);

    /* gradients */
    --clr-lt-slate-blue: hsl(252, 100%, 67%);
    --clr-lt-royal-blue: hsl(241, 81%, 54%);

    --clr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-persian-blue: hsla(241, 72%, 46%, 0);

    /* neutrals */
    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-lt-lavender: hsl(241, 100%, 89%);
    --clr-dk-gray-blue: hsl(224, 30%, 27%);

    /* components */


    /* fonts */

    /* font-size */
    --fs-400: 1.1rem;

    /* font-weight */
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-ex-bold: 800;

}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* general styling */

/* body {
    clr-
} */